/* since after jsx code both left side n right side 
are merged, so we need to provide some space betweem
them  by using their f-container*/

.f-container{
   justify-content: space-between;
}

.f-left-side{
    gap: 1.5rem;
}

.f-right-side{
    gap: 1.2rem;
}

.f-menu{
    gap: 1rem;

}

@media (max-width: 768px) {
    
    .f-container{
        justify-content: center;
    }

    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
}