.hero1{
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: rgba(34, 29, 45, 0.5);
    
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero1::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1565106430482-8f6e74349ca1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdlYiUyMGRldmVsb3BtZW50fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero1 h1{
    font-size: 2.4rem;
}

.hero1 p{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width:640px) {
    
    .hero1 h1{
        font-size: 2rem;
    }

    .hero1 p{
        font-size: 1.2rem;
        
    }
}