*{
    margin: 0;
    padding: 0;
}

.container{
    width: 40vw;
    height: 65vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
}