.list_items{
    display: flex;
    height: 70px;
    background: bisque;
    width: 613px;
    padding: 10px;
    margin: 20px;
    position: relative;
}

.list-icon{
    margin-left: 10px;
    font-size: 40px;
    background: none;
    border: none;
    position: absolute;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 18px;
}